.newsItem {
  .imgParent {
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
